{% extends "layout.html" %}

{% block main %}

<div class="row">
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive" alt="" src="/static/images/me.png">
  </div>
  <div class="col-xs-12 col-md-6 description-text">
    <h1>About me</h1>
    <p>
      I am a senior software engineer at Etsy creating the next generation cloud platform for data scientists, data analysts and data engineers. I am interested in all things related to AI--especially regarding machine learning/deep learning, robotics, and computer vision. But besides being immersed in the data world, I get reved up by beautiful products. I have worked in the depths of the stack all the way to the top of the stack to ensure the best outcome 👌.
      <br><br>
      In my free time, I'm also an avid musician, artist and was even art director for Columbia's famous comedy magazine.     </p>
 </div>
</div>
    
{% endblock %}