<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}

{% block main %}
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer">
      <div class="grid-sizer">
        <div class="grid-item">
        <img class="img-responsive" alt="" src="/static/images/lean2.jpg">
        <a href="/projects" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>projects</h3>
            </div>
          </div>
        </a>
        </div>
        <div class="grid-item">
        <img class="img-responsive" alt="" src="/static/images/lean7.jpg">
        <a href="/art" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>art</h3>
            </div>
          </div>
        </a>
        </div>
        <div class="grid-item">
        <img class="img-responsive" alt="" src="/static/images/lean10.jpg">
        <a href="/blog" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>blog</h3>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}